.todo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #3498db, #2c3e50);
    color: #fff;
  }

  .todo-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .todo-container pre {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow: auto;
  }

  .add {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .add input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .add button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
  .add button:hover {
    background-color: #0056b3;
  }
  
  /* Style for each todo item */
  .sample-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0c0101;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .sample-item:hover {
    background-color: #dc1111;
  }
  
  .sample-item button {
    background-color: #1ad69b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sample-item button:hover {
    background-color: blue;
  }